/*mobile*/
body {
    font-family: 'noto';
    margin: 0;
    padding: 0;
    background-color: #F6D5BF;
}

*{
    font-family: 'Noto Sans SC', sans-serif;
}

.start{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 30px;
}

.bean{
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: -1;
    position: absolute;
    bottom: 10%;
}

.smaller{
    width: 50%;
    height: auto;
}

.logo, .zone{
    max-width: 150px;
    padding-left: 20px
}

.game-title{
    margin-bottom: 30px;
    
}
.title{
    display: flex;
    margin: 0 auto;
    max-width: 60%;
    padding: 0;
}
button{
    background-color: transparent;
    border: 0px;
    width:100%;
    padding: 2.5% 5%;
}

.cover-bottom{
    margin-top: 45px;
}

.cover-bottom img{
    width: 100%;
    height: auto;
}

/*question*/
.QuestionNumber{
    color: white;
    font-weight: 500;
    text-align: center;
    padding: 5px;
    background-color: #AA784A;
    width: 60px;
    margin: 0 auto;
    border-radius: 30px;
    -webkit-box-shadow: 0px 15px 0px 0px #734D2B; 
    box-shadow: 0px 5px 0px 0px #734D2B;
}

.equation{
    color: white;
    font-weight: 500;
    text-align: center;
    padding: 20px;
    background-color: #DEBD9F;
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5% auto;
    border-radius: 30px;
}

.sign{
    width: 15%;
    padding: 2.5%;
}

.answer1, .answer2{
    color: white;
    padding: 18%;
    background-color: #DEBD9F;
    border:  2px dotted black;
    margin: 2.5% 2.5%;
    border-radius: 15px;
}

.question, .instruction {
    justify-content: center;
    text-align: center;
    padding: 15px;
    font-size: 22px;
    font-weight: 500;
}

.instruction{
    padding-top:0px;
}

.question{
    padding-bottom: 0px;
}
.question p, .instruction p{
    margin: 0;
}

img.options{
    width: 100%;
}

img.btn{
    width: 100%;
}

button.submit, button.playAgain{
    max-width: 75%;
    display: flex;
    margin: 0 auto;
}

.answer-q{
    display: grid;
    grid-template-columns: repeat(3,33%);
    justify-content: center;
    padding: 0 20px;
}

.btn1, .btn2, .btn3{
    padding: 0% 0%;
}

.startbtn{
    max-width: 250px;
}

.product{
    margin: 2.5% auto;
    width: 40%;
}
.close{
    width: 10%;
    height: auto;
}

.popUp{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    gap: 5vh;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: rgba(50, 50, 50,0.6);
}
.pop{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.pop p{
    margin: 0;
}

.right{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    max-width: 500px;
    align-items: center;
    align-items: center;
    max-width: 500px;
}

.right img{
    width: 20%;
    height: auto;
}
.resize{
    padding: 5px;
    width: 10%!important;
    width: 10% !important;
}

.plus{
    width: 25%;
}

.next{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 0;
    max-width: 85%;
}

.next{
    width: 80%;
    max-width: 400px;
}

.correct{
    width: 35vh;
}

.final{
    height: 100vh;
    width: 100%;
}

.final .end{
    display: flex;
    margin: 0 auto;
    max-width: 60%;
}

button.playAgain{
    margin-top: 30px;
}

button{
    cursor: pointer;
}

.hide{
    display: none;
    visibility: hidden;
}

.game .logo, .final .logo{
    max-width: 100px;
}

.game .zone, .final .zone {
    max-width: 120px;
}
@media screen and (max-width:767px){
    .product{
        width: 50%;
    }
}
/*ipad*/
@media screen and (min-width: 768px) and (max-width: 1199px){
    .logo{
        max-width: 250px;
    }
    .title{
    padding: 5% 15%;
    }
    .question{
        font-size: 32px;
    }
    .answer-q{
        max-width: 500px;
        margin: 0 auto;
    }
    button.submit, button.playAgain{
        max-width: 450px;
    }
    .final .end{
        max-width: 450px;
    }
    .right{
        max-width: 40%;
    }
}

/*desktop*/
@media screen and (min-width:1200px){
    .start, .game, .final{
        max-width: 500px;
        margin: 0 auto;
    }
    button.submit, button.playAgain{
        max-width: 260px;
    }
    .startbtn{
        max-width: 260px;
    }
    .answer-q{
        display: grid;
        flex-direction: row;
        max-width: 360px;
        margin: 0 auto;
    }
    .final .end{
        max-width: 360px;
    }
    .next{
        max-width: 250px;
        width: 50%;
    }
    .right{
        max-width: 20%;
    }
}