/*mobile*/
body {
    font-family: 'noto';
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #F6D5BF;
    position: fixed;
    overflow: hidden;
}

*{
    font-family: 'Noto Sans SC', sans-serif;
}

.start{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 30px;
}
.game .top, .final .top{
    padding-top: 10px;
    margin-bottom:  10px;
}

.container{
    display: flex;
    margin-bottom: 10px;
}

.product{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ingredients{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
}

.coffee{
    margin: 0% auto;
    width: 70%;
}

.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right{
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.container .coffee-content{
    margin-bottom: 0px;
    font-size: 15px;
}

.coffee-content{
    margin-bottom: 10px;
    font-size: 15px;
}

.name{
    margin: 0px;
    font-size: 15px;
}

.in{
    width: 35%;
}

.bean{
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: -1;
    position: absolute;
    bottom: 10%;
}

.smaller{
    width: 50%;
    height: auto;
}

.logo, .zone{
    max-width: 150px;
    padding-left: 20px
}

.game-title{
    margin-bottom: 30px;
    
}
.title{
    display: flex;
    margin: 0 auto;
    max-width: 60%;
    padding: 0;
}
.final .title{
    width: 40%;
}
button{
    background-color: transparent;
    border: 0px;
    width:100%;
    padding: 2.5% 5%;
}

.cover-bottom{
    margin-top: 45px;
}

.cover-bottom img{
    width: 100%;
    height: auto;
}

/*question*/
.QuestionNumber{
    color: white;
    font-weight: 500;
    text-align: center;
    padding: 5px;
    background-color: #AA784A;
    width: 60px;
    margin: 0 auto;
    border-radius: 30px;
    -webkit-box-shadow: 0px 15px 0px 0px #734D2B; 
    box-shadow: 0px 5px 0px 0px #734D2B;
}

.equation{
    color: white;
    font-weight: 500;
    text-align: center;
    padding: 20px;
    background-color: #DEBD9F;
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5% auto;
    border-radius: 30px;
}

.sign{
    width: 15%;
    padding: 2.5%;
}

.answer1, .answer2{
    color: white;
    padding: 18%;
    background-color: #DEBD9F;
    border:  2px dotted black;
    margin: 2.5% 2.5%;
    border-radius: 15px;
}

.question, .instruction {
    justify-content: center;
    text-align: center;
    padding: 15px;
    font-size: 22px;
    font-weight: 500;
}

.instruction{
    padding-top:0px;
}

.question{
    padding-bottom: 0px;
}
.question p, .instruction p{
    margin: 0;
}

img.options{
    width: 100%;
}

img.btn{
    width: 100%;
}

button.submit, button.playAgain, button.nextZone{
    max-width: 75%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.answer-q{
    display: grid;
    grid-template-columns: repeat(3,30%);
    justify-content: center;
    justify-items: center;
    gap: 10px;
    margin: 0 20px;
}

.tap-answer{
	margin: 20px;
	padding:20px 0px;
	background-color: rgba(255,255,255,0.6);
	border-radius: 32px;
}

#btn1, #btn2, #btn3, #btn4, #btn5, #btn6{
    max-width: 90%;
    cursor: pointer;
    box-sizing: border-box;
    padding: 2.5%;
    background-color: white;
    border-radius: 10px;
    border: transparent;
}
#btn1 img , #btn2 img, #btn3 img, #btn4 img, #btn5 img, #btn6 img{
    max-width: 100%;
}

.startbtn{
    max-width: 250px;
}

.product{
    width: 40%;
}
.close{
    width: 10%;
    height: auto;
}

.popUp{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    gap: 5vh;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: rgba(50, 50, 50,0.6);
}
.pop{
    position: relative;
    width: 80%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.pop p{
    margin: 0;
}

.right img{
    width: 23%;
    height: auto;
}
.resize{
    padding: 5px;
    width: 10%!important;
}

.plus{
    width: 25%;
}

.next{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 0;
    width: 100%;
    box-sizing: border-box;
}

.correct{
    width: 35vh;
}

.final{
    height: 100vh;
    width: 100%;
}

.final .end{
    display: flex;
    margin: 0 auto;
    margin-top: 60px;
    max-width: 60%;
}

button.playAgain{
    margin-top: 10px;
}

button{
    cursor: pointer;
}

.hide{
    display: none;
    visibility: hidden;
}

.game .logo, .final .logo{
    max-width: 100px;
}

.game .zone, .final .zone {
    max-width: 120px;
}
@media screen and (max-width:767px){
    .product{
        width: 50%;
    }
}
/*ipad*/
@media screen and (min-width: 768px) and (max-width: 1199px){
    .logo, .zone{
        max-width: 250px;
    }
    .QuestionNumber{
        width: 120px; 
        box-shadow: 0px 10px 0px 0px #734D2B;
        font-size: 35px;
        margin-bottom: 10px;
    }
    .question{
        max-width: 700px;
        margin: 0 auto;
    }
    .answer-q{
        max-width: 700px;
        margin: 0 auto;
    }
    .coffee-content, .name{
        font-size: 30px;
    }
    button.submit, button.playAgain, button.nextZone,.startbtn{
        max-width: 450px;
    }
    .final .end{
        max-width: 450px;
        margin-top: 100px;
    }
    .right{
        width: 100%;
    }
    .pop{
        width: 70%;
    }
    .pop p{
        font-size: 40px;
    }
}

/*desktop*/
@media screen and (min-width:1200px){
    .start, .game, .final{
        max-width: 400px;
        margin: 0 auto;
    }
    .startbtn,button.submit, button.playAgain, button.nextZone{
        max-width: 250px;
    }
    .cover-bottom{
        margin-top: 15px;
    }
    .cover-bottom img{
        width: 90%;
    }
    .answer-q{
        display: grid;
        flex-direction: row;
        max-width: 280px;
        gap: 5px;
        margin: 0 auto;
    }
    .in{
        width: 25%;
    }
    .final .end{
        max-width: 250px;
        margin-top: 10px;
    }
    .next{
        max-width: 250px;
        width: 50%;
    }
    .right{
        max-width: 30%;
    }
}